{
        "postgres": {
                "host": "127.0.0.1:5432",
                "user": "semaphore",
                "pass": "{{ db_password }}",
                "name": "semaphore",
                "options": {
                        "sslmode": "disable"
                }
        },
        "dialect": "postgres",
        "tmp_path": "/tmp/semaphore",
        "cookie_hash": "4DkK+eUZ1lfpp0JnDl4TrE/jyvYBDaOpGzrRdOJYveM=",
        "cookie_encryption": "QBZZXe5l3HTkU02bxB6mpbWbDiamrnsFqKFgkiLzfnw=",
        "access_key_encryption": "{{ access_key_encryption }}"
 }
